body {
    background:#FAFAFA  !important ;
    background-repeat: no-repeat;
    background-size: cover;
    color: #0000 !important;
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif;
}

main{
   box-shadow: 0px 4px 23px -8px rgba(0, 0, 0, 0.37);
    width: 82%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
   overflow: scroll;
    height: 650px;
   
   
}
@media (max-width: 479px) {
    main{
          width: 90%;
            margin-left: 90px;
         margin-right: 0px;
    }
}

main::-webkit-scrollbar {
  width: 0;
    
}
body::-webkit-scrollbar {
  width: 0;
    
}
.backmain{
    width: 100%;
    height: 100%;

   background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 50%;
}
